<div class="article">
  <div class="ar_title">
    <a href="https://waterdrop.tw/blog/read_article/923">☼ {{article.title}}</a>
    <span class="ar_classify">
        {{article.classify}}
     </span>
  </div>
  <div class="ar_datetime">
    <span>
                            {{article.datetime}}</span>
  </div>
  <div class="ar_contents" [innerHTML]="article.contents"></div>
  <p></p>
  <div class="clearfix">
    <div class="ar_link pull-right">
      <a href="https://waterdrop.tw/blog/read_article/923">閱讀全文</a> ↔
      <a href="https://waterdrop.tw/blog/read_article/923" target="_blank">閱讀全文(開新分頁)</a>
    </div>
  </div>
</div>
<p>