footer {
	clear: both;
	height: 20px;
	padding: 25px 0;
	background: #BF0000;
	color: #FFF8E9;
	width:100%;
}

footer p {
	margin: 0;
	text-align: center;
	font-size: 12px;
}
footer a:link, footer a {
	color: #FFF !important;
}
