<div id="login">
    <img width="24" height="24" title="管理者" id="login_img" src="https://waterdrop.tw/images/blog/user-admin.png" onclick="return $('#login_form').show();"
    />
    <div class="row" id="login_form">
        <div class="col-lg-2 pull-right">
            <form method="post" action="https://waterdrop.tw/blog/login/">
                <div class="input-group">
                    <input type="password" class="form-control" name="passwd">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">管理</button>
                        </span></div>
                <!-- /input-group -->
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>

<app-header></app-header>
<div id="container">
    <!-- #content start -->
    <div id="content">
        <div class="post">
            <router-outlet></router-outlet>
        </div>
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">2</a></li>
            <li><a href="https://waterdrop.tw/blog/index/20">3</a></li>
            <li><a href="https://waterdrop.tw/blog/index/30">4</a></li>
            <li><a href="https://waterdrop.tw/blog/index/40">5</a></li>
            <li><a href="https://waterdrop.tw/blog/index/50">6</a></li>
            <li><a href="https://waterdrop.tw/blog/index/60">7</a></li>
            <li><a href="https://waterdrop.tw/blog/index/70">8</a></li>
            <li><a href="https://waterdrop.tw/blog/index/80">9</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">下一頁</a></li>
            <li><a href="https://waterdrop.tw/blog/index/480">最後一頁</a></li>
        </ul>
    </div>
    
    <!-- end #content -->
    <aside>
        <div id="css_change">
            <h2>你喜歡白還黑?</h2>
            <ul>
                <li rel="style0" id="style0" class="styleswitch" (click)="styleswitch($event)"></li>
                <li rel="style1" id="style1" class="styleswitch" (click)="styleswitch($event)"></li>
            </ul>
        </div>
        <app-recent-article></app-recent-article>
        <app-search-article></app-search-article>
    </aside>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<app-footer></app-footer>