<div id="login">
    <img width="24" height="24" title="管理者" id="login_img" src="https://waterdrop.tw/images/blog/user-admin.png" onclick="return $('#login_form').show();"
    />
    <div class="row" id="login_form">
        <div class="col-lg-2 pull-right">
            <form method="post" action="https://waterdrop.tw/blog/login/">
                <div class="input-group">
                    <input type="password" class="form-control" name="passwd">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">管理</button>
                        </span></div>
                <!-- /input-group -->
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>

<header>
    <div id="nav_container">
        <div id="search_bar">
            <span class="blog_title">滴一滴水 </span>
        </div>
        <div id="menu_bar">
            <nav>
                <a class="" href="./blog/">部落格</a>
                <a class="" href="./album/">相簿</a>
                <a class="" href="./gp/">美食</a>
                <a class="" href="./blog/about_me/">關於</a>
            </nav>
        </div>
    </div>
</header>

<div id="container">
    <div id="content">
        <div class="post">
            <div class="article">
                <div class="ar_title">
                    <a href="https://waterdrop.tw/blog/read_article/923">☼ 儲存模式 & 正規化</a>
                    <span class="ar_classify">
                            SQL 
                        </span>
                </div>
                <div class="ar_datetime">
                    <span>
                            此文章於星期一, 五月30日, 2016年, 13時17分發表</span>
                </div>
                <div class="ar_contents"></div>
                <p></p>
                <div class="clearfix">
                    <div class="ar_link pull-right">
                        <a href="https://waterdrop.tw/blog/read_article/923">閱讀全文</a> ↔
                        <a href="https://waterdrop.tw/blog/read_article/923" target="_blank">閱讀全文(開新分頁)</a>
                    </div>
                </div>
            </div>
            <p>
        </div>
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">2</a></li>
            <li><a href="https://waterdrop.tw/blog/index/20">3</a></li>
            <li><a href="https://waterdrop.tw/blog/index/30">4</a></li>
            <li><a href="https://waterdrop.tw/blog/index/40">5</a></li>
            <li><a href="https://waterdrop.tw/blog/index/50">6</a></li>
            <li><a href="https://waterdrop.tw/blog/index/60">7</a></li>
            <li><a href="https://waterdrop.tw/blog/index/70">8</a></li>
            <li><a href="https://waterdrop.tw/blog/index/80">9</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">下一頁</a></li>
            <li><a href="https://waterdrop.tw/blog/index/480">最後一頁</a></li>
        </ul>
    </div>
    <!-- end #content -->
    <aside>


        <div id="css_change">
            <h2>你喜歡白還黑?</h2>
            <ul>
                <li rel="style0" id="style0" class="styleswitch"></li>
                <li rel="style1" id="style1" class="styleswitch"></li>
            </ul>
        </div>
        <div id="updates" class="orangebox">
            <h2>最新文章發表</h2>
            <ul>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/932 ">
                        docker kitematic wordpress                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/931 ">
                        billbill 批次                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/930 ">
                        gulp livereload                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/929 ">
                        HTTPS                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/928 ">
                        perl -d                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/926 ">
                        phpstorm+laravel本機環境 on mac                    </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/924 ">
                        Docker Mysql Cluster                     </a></li>
                <li class="si_title"><a href="https://waterdrop.tw/blog/read_article/923 ">
                        儲存模式 & 正規化                    </a></li>
            </ul>
        </div>
        <div id="blog_search">
            <h2>關鍵字搜尋</h2>
            <ul>
                <form name="search_form" id="search_form" method="POST" action="https://waterdrop.tw/blog/search/">
                    <input type="text" class="form-control input-sm" name="q">
                    <button type="submit" name="sf" class="btn btn-default btn-xs">搜尋</button>
                </form>
            </ul>
        </div>


    </aside>

    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
</div>
<footer>
    <p id="legal">Copyright &copy; 2010 . All Rights Reserved. Designed by <a href="https://waterdrop.tw/blog/about_me/">滴一滴水</a>. 網頁執行時間0.2004秒
    </p>
</footer>