<div id="content">
        <app-article *ngFor="let article of articles" [article]="article"></app-article>
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">2</a></li>
            <li><a href="https://waterdrop.tw/blog/index/20">3</a></li>
            <li><a href="https://waterdrop.tw/blog/index/30">4</a></li>
            <li><a href="https://waterdrop.tw/blog/index/40">5</a></li>
            <li><a href="https://waterdrop.tw/blog/index/50">6</a></li>
            <li><a href="https://waterdrop.tw/blog/index/60">7</a></li>
            <li><a href="https://waterdrop.tw/blog/index/70">8</a></li>
            <li><a href="https://waterdrop.tw/blog/index/80">9</a></li>
            <li><a href="https://waterdrop.tw/blog/index/10">下一頁</a></li>
            <li><a href="https://waterdrop.tw/blog/index/480">最後一頁</a></li>
        </ul>
    </div>